@media screen and (max-width: 1420px) {
	.banner_content {top: 20px}
	.banner_content h1 {margin-bottom: 10px}
	
}
@media screen and (max-width : 1365px){
	.four_step 
	{
		padding-top: 4%;
	}
}

@media screen and (max-width: 1236px) {
	.carousel-inner>.item>img {
		height: 500px;
		width: auto;
		max-width: inherit;
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
			transform: translateX(-50%);
	}
	.carousel-inner>.item { overflow:hidden}
	
	.banner_content {
		max-width: 1170px;
		margin: 0 auto;
		left: 0;
		right: 0;
		padding: 0 15px;
	}
}


@media screen and (max-width : 1199px){
	.nav_list .call_us
	{
		font-size: 15px;
	}
	.contact_close_btn .contact_button
	{
		padding: 8px;
		font-size:12px;
	}
	.contact_close_btn.text-center {
  margin-top: 20px;
}
.over_form h2 {
  font-size: 24px;
  margin-top: 0;
}
.over_form > p {
  color: #5c7883;
  font-size: 14px;
  margin-bottom: 15px;
}
.over_form input {
  border: 1px solid #e5eaec;
  box-shadow: none;
  color: #5c7883;
  font-size: 12px;
  height: 30px;
  margin-bottom: 10px;
}
.over_form textarea {
  border: 1px solid #e5eaec;
  box-shadow: none;
  color: #5c7883;
  margin-bottom: 15px;
  font-size: 12px;
}
.licence_btn {
  font-size: 13px;
  padding: 10px;
}
.over_slider p {
  color: #5c7883;
  font-size: 18px;
  line-height: 30px;
}
.over_close .menu_button > a {
  border: 2px solid #fff;
  font-family: "Conv_GothamProBold";
  font-size: 10px;
  padding: 10px 12px;
  text-transform: uppercase;
}
.menu_menu ul li a {
  color: #fff;
  font-family: "Conv_GothamProBold";
  font-size: 20px;
}
.sub_menu li a {
  color: #fff;
  font-family: "Conv_GothamProRegular" !important;
  font-size: 15px !important;
}
.menu_menu ul li {
  padding-bottom: 15px;
}
.sub_menu {
  margin-bottom: -10px;
  margin-top: 15px;
}
.nav_list .menu_button a
{
	font-size:12px;
}
.nav_list .contact_button a
{
	font-size:12px;
}
.offer h2
{
	font-size:24px;
}
.offer p {
  color: #5c7883;
  display: table;
  font-size: 15px;
  line-height: 24px;
  margin: 9px auto 20px;
  width: 50%;
}
.licence_btn
{
	margin-bottom:40px;
}
.offer
{
	padding-top:40px;
}
.features .screen {
  margin-bottom: 40px;
  margin-top: 40px;
}
.box.text-center > p {
  color: #5c7883;
  font-size: 13px;
}
.box h3 {
  color: #5c7883;
  font-family: "Conv_GothamProBold";
  font-size: 14px;
}
.steps h2 {

  font-size: 24px;
  margin-bottom: 15px;
}
.four_step p
{
	font-size:15px;
}
.start_btn a
{
	font-size:12px;
}
.step_list li
{
	padding:10px 0px;
}
.step_list
{
	margin-top:20px;
}
.step_list li a
{
	font-size:12px;
}
.play {
  left: -6%;
  position: absolute;
  top: 41%;
}
.play > img {
  width: 70px;
}
.step_list > li {
  width: 13%;
}
.faq_accordion h2
{
	font-size:24px;
}
.question_mark {
  margin-bottom: 0;
  margin-top: 40px;
}
.accordion
{
	margin-bottom:0px;
}
.faq
{
	padding-bottom:40px;
}
.contact_form .col-sm-12 h2 {
  color: #0098d9;
  font-family: "Conv_GothamProBold";
  font-size: 24px;
}
.contact_form .col-sm-12 p
{
	font-size:15px;
}
.contact_form
{
	padding-top:30px;
}
.social_list li
{
	margin-right:7px;
}
.footer {
  float: left;
  padding-bottom: 35px;
  padding-top: 40px;
  width: 100%;
}
.col-sm-3.block > p {
  color: #5c7883;
  font-size: 18px;
}
/*.last_footer .col-sm-6 > span {
  color: #5c7883;
  float: left;
  font-size: 11px;
  margin-top: 15px;
}*/
.footer .block ul li a {
  color: #5c7883;
  font-size: 12px;
  line-height: 24px;
}
.social_list li a {
  border: 1px solid #5c7883;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  	border-radius: 100px;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 30px;
}
.fb_i_wh {
  display: none;
  margin: 0 auto;
  padding: 9px 0;
  text-align: center;
}
.block {
  height: auto;
  padding-left: 30px;
}
.accordion li a {
  font-size: 14px;
}
.contact_field input
{
	font-size:12px;
}
.contact_form textarea
{
	font-size:12px;
}
.header .nav a {
    font-size: 14px;
}
.container
{
width:95%;
}
p.main-price {
    font-size: 24px;
    font-weight: 700;
}
.due-box2 {
    padding: 26px 5px;
    background: #f1f1f1;
    font-size: 13px;
    text-align: center;
    border-left: 1px dashed #ccc;
    color: #484848;
    font-weight: 400;
    float: left;
    width: 50%;
}
.due-box {
    padding: 26px 5px;
    background: #f1f1f1;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: #484848;
    border-left: 1px dashed #ccc;
    float: left;
    width: 50%;
}

}


@media screen and (max-width : 990px){
	.nav_list li
	{
		margin-left:12px;
	}
	.nav_list .contact_button a
	{
		padding:8px;
	}
	.nav_list .call_us {
	  font-size: 13px;
	}
	.nav_list .menu_button a
	{
		padding:8px;
	}
	.nav_list {
	  float: right;
	  margin: 26px 0;
	  padding: 0;
	}
	.logo img {
	  width: 180px;
	}
	.banner_content h1
	{
		font-size:24px;
		width: 63%
	}
	.banner_content p {
	  font-size: 16px;
	  line-height: 22px;
	  margin-top: 10px;
	  width: 63%;
	}
	.over_form {
	  margin-left: 15%;
	  margin-top: 25px;
	}
	.over_form h2
	{
		font-size:20px;
	}
	.over_form > p
	{
		font-size:12px;
	}
	.over_form textarea
	{
		height:65px;
	}
	.menu_menu .input-group
	{
		margin-top:0px;
	}
	.offer h2,.offer p{width:95%}
	.carousel.slide {
	  padding: 15px 0;
	}
	.carousel-indicators
	{
		left:50%;
		bottom:0;
	}
	.start_btn {
	  float: left;
	  margin-top: 3%;
	  width: 100%;
	}
	.play
	{
		left:-8%;
	}
	.accordion {
	 
	  width: 100%;
	}
	.col-sm-3.block > p {
	  color: #5c7883;
	  font-size: 15px;
	}
	.social_list li {
	  margin-right: 3px;
	}
	.last_footer .col-sm-6 > img {
	  float: left;
	  margin-right: 2%;
	}
	.col-sm-6.space_cover {
	  width: 60%;
	}
	.col-sm-6.space_low
	{
		width:40%;
	}
	.hero_section
	{
		background-size:cover;
	}
	.steps h2 {
	  font-size: 21px;
	  margin-bottom: 6px;
	}
	.four_step p {
	  font-size: 13px;
	}
	.step_list {
	  margin-top: 0px;
	  margin-bottom:0px;
	}
	.step_list > li {
	  width: 11%;
	}
	.next {
	  padding: 20px 9px !important;
	}
	.four_step
	{
		margin-right:0px;
		margin-left:35px;
	}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 28px 6px 27px !important;
	}
	.new-price-box
	{
		width:100%;
	}
	.plan-process .col-sm-8 {
		width: 100%;
	}
	.plan-process .col-sm-4 {
		width: 100%;
		border-top: 1px dashed #ccc;
	}
	.plan-process .col-sm-4:after,
	.plan-process .col-sm-4:before,
	.show-toggle:after,.show-toggle:before { content:""; display: table; clear: both}
	.choose-plan {
		padding: 20px 0px;
	}
	.plan-process { overflow:hidden}
	.show-toggle { position:static}
	.rate-head {
		margin-bottom: 0;
	}
	.new-price-box {
		width: 48%;
		margin-bottom: 40px;
	}
	body { padding-top: 118px;}
	.over_slider {bottom: 15px;}
	.due-box { border-left:0}
	
	
}
@media screen and (min-width: 768px) {
	.menu-item-has-children:hover > ul.sub-menu{background:#f9f9f9; left: 0; width:240px; opacity: 1; visibility: visible}	
	.menu-item-has-children:last-child > ul.sub-menu { left: inherit;right: 0}
	ul.sub-menu { display: block !important}
	ul.sub-menu { opacity: 0; visibility: hidden}
	.steps {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-ms-column-count: 2;
		-o-column-count: 2;
			column-count: 2;
		-webkit-align-items: center;
		-moz-align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
			align-items: center;
	}
}

@media only screen and (max-width : 767px){
	.main-slider { float: none; width: auto;}
.new-price-box {
    width: 100%;
    margin-bottom: 20px;
}
.due-box, .due-box2 {
    padding: 16px 5px;
}
.choose-plan h2
{
	font-size:21px;
}
.choose-plan h3 {
    font-size: 16px;
}
.right-main-content
{
	    margin-top: 20px;
}
.right-main-content.continue-shoping { float: none; width: auto}
button#shop.add-to-cart-btn { float: none; width: 100%; margin-bottom: 40px;}
.box.text-center { margin: 0}
.header .logo_div {
  float: left;
  width: 40%;
}
.logo img {
  width: 140px;
}
.header .btn_div {
  float: left;
  width: 60%;
}
.banner_content h1 {
  width: 81%;
}
.mobile_hide
{
	display:none;
}
.nav_list {
  
  margin: 17px 0;
  
}
.menu_menu
{
	width:100%;
}
.menu_menu .input-group
{
	width:75%;
}
.contact_menu
{
	width:100%;
}
.nav_list .call_us
{
	font-size:12px;
}
.banner_content p { width: 65%}
	.over_form h2 {
  font-size: 18px;
}
.banner_content h1
{
	line-height:30px;
}
.agent_logo {
  display: block;
}
.over_slider p {
  color: #5c7883;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.banner .banner_vdo
{
	margin-top:10px;
}
.over_slider
{
	position:static;
	height:auto;
}
.offer h2 {
  width: 100%;
}
.offer h2
{
	font-size:20px;
	line-height:24px;
}
.offer p {
  width: 95%;
  font-size:14px;
}
.four_step {
  margin-left: 0;
  margin-right: 0;
  padding: 30px 15px;
  text-align: center;
}
.steps h2 {
  font-size: 24px;
  margin-bottom: 6px;
  width: 90%;
}
.four_step p {
  font-size: 13px;
  padding: 10px;
}
.step_list > li {
    width: auto;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.steps iframe {
    max-height: 300px;
}
.play {
  display: block;
  left: 40%!important;
  position: absolute;
  text-align: center;
  top: 28% !important;
}
.steps .col-sm-6 {
  float: left;
  padding: 0;
  width: 100%;
}
.faq_accordion h2 {
  font-size: 20px;
}

.accordion li a {
  display: table;
  font-size: 12px;
  line-height: 22px !important;
  padding: 5px 0;
  text-indent: inherit;
}
.accordion li a span {
  display: table;
  float: left;
  width: 85% !important;
}
.ac_down, .close_ac {
  float: right;
  position: relative;
  top: 15px;
  vertical-align: middle;
}
.contact_form .col-sm-12 h2 {
  color: #0098d9;
  font-family: "Conv_GothamProBold";
  font-size: 20px;
  margin-top: 0;
  width:90%;
}
.contact_form .col-sm-12 p {
  font-size: 14px;
}
.contact_form .container {
  width: 100%;
}
.contact_field input
{
	margin-bottom:10px;
}
.col-sm-6.space_cover {
  padding: 0 15px;
  width: 100%;
}
.col-sm-6.space_low {
  padding: 0 15px;
  text-align: left;
  width: 100%;
}
.space_low .pull-right {
  float: left !important;
}
.hero_section
{
	background:url(../img/banner.jpg);
	background-repeat:no-repeat;
	background-size:100%;
}
.banner_content p {
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    
}

.banner_content h1 {
    width: 60%;
}

.front-testimonial
{
text-align:center;
}
.front-testimonial {
    margin-top: 10px;
	max-width: 60%;
}
.over_slider p a.get-q { margin: 0}
.features a.licence_btn,
.offer a.licence_btn {
    float: none;
    display: block;
    max-width: 200px;
}
.navbar-toggle {
    margin-top: -44px;
	margin-right: 0;
}
.navbar-toggle {padding: 0}
ul.nav.navbar-nav {
    float: none;
}
.nav>li>a {
    padding: 8px 15px !important;
}
.features h2 {
    font-size: 21px;
    color: #373d89;
    margin-bottom: 30px;
    font-family: "Conv_GothamProBold";
}
.features {
    padding: 0 0px;
}
.steps h2 {
    font-size: 24px;
    margin-bottom: 6px;
    width: 100%;
}
.top-bar .pull-right
{
float:none !important;
}
.top-bar p
{
margin-right: 10px;
}
.banner-lower-cnt {
    font-size: 16px !important;
    text-align: center;
    margin: 10px 0px;
}
.get-q
{
margin-left:0px;
margin-top:20px;
}
.front-testimonial iframe {
    width: 100% !important;
}
.four_step {
    float: none;
    width: 100%;
}
.payment-btn
{
font-size:12px;
}
.payment-btn
{
padding:5px;
}
.top-icon a
{
margin-right:6px;
}
button.navbar-toggle.collapsed img {
    width: 30px;
}

.carousel-inner>.item>img { height: 390px}
.container{width:auto}
.footer .block {
    float: left;
    width: 50%;
	padding: 0 15px;
}
.footer { padding-bottom: 0; padding-top: 10px }
.last_footer { margin-top: 15px;}
.col-sm-3.block > p {word-break: break-all;}
.prHead { padding-right:0}
.prHead a { position: static;display: inline-block;margin-bottom: 5px;}

body { padding-top: 107px}
.navbar-toggle img { width: 30px}
.navbar-collapse {
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
	top: 0;
	z-index: 5;
	background: #fff;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.nav>li { border-top: 1px solid #eee}
.nav>li.menu-item-has-children { padding-right: 40px}
ul.sub-menu {
    position: static;
    width: auto;
    margin-right: -40px !important;
    padding: 8px 0 8px 15px !important;
}
div#bs-example-navbar-collapse-1 {
    max-height: -webkit-calc(100vh - 64px);
	max-height: -moz-calc(100vh - 64px);
	max-height: -ms-calc(100vh - 64px);
	max-height: -o-calc(100vh - 64px);
	max-height: calc(100vh - 64px);
}
.sub-menu li a:hover {background: #f9f9f9; color: #555}
.header .nav .sub-menu li a { font-size: 13px; padding: 7px 15px; line-height: 18px}
.nav>li:hover>a,
.header .navbar-nav>li>a:hover { background: #fff; color: #555;}
.nav>li.menu-item-has-children:after, 
.nav>li.menu-item-has-children:before {
    content: "";
    width: 17px;
    height: 1px;
    background: #666;
    position: absolute;
    top: 18px;
    right: 10px;
}
.nav>li.menu-item-has-children:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
		transform: rotate(90deg);
}

.nav>li.menu-item-has-children.openMenu:after { display: none}
.nav>li.menu-item-has-children.openMenu:after,
.nav>li.menu-item-has-children.openMenu:before,
.nav>li.menu-item-has-children.current_page_item:after, 
.nav>li.menu-item-has-children.current_page_item:before { background: #fff}
.nav>li.menu-item-has-children.openMenu,
.nav>li.menu-item-has-children.openMenu>a { background:#a92936;}
.nav>li.menu-item-has-children.openMenu>a { color: #fff}
.categories .col-sm-4 { margin-bottom:0}

}


@media screen and (max-width: 650px) {
	.banner_content {position: static}
	.carousel-inner>.item>img {
		height: auto;
		width: 100%;
		left: 0;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
			transform: translateX(0);
	}
	.banner_content h1, .banner_content p {width: auto}
	.front-testimonial { margin-top: 20px; max-width: inherit}
	.over_slider p a.get-q {
		display: block;
		max-width: 100px;
		margin: 15px auto 0;
	}
	.last_footer .col-sm-6 span.pull-right {
		float: none !important;
		display: block;
		text-align: center;
	}
	.last_footer { font-size: 12px}
	
}

@media screen and (max-width: 500px) {
	.footer .block { width: 100% }
	
}
@media screen and (max-width: 500px) {
	.step_list > li { display:block}
	.step_list > li.next {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
			transform: rotate(90deg);
	}
	
	.endFld.inptFld, .endFld.txtArea { float: none; width: auto}
	
}

